@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.container {
  width: auto;
  border: 2px dashed blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "header header"
                        "services services"
                        "apresentation apresentation";
}
.container_header{
  background-color: #2c2c2c;
  grid-area: header;
}
.container_services {
  grid-area: services;
}
.container_apresentation{
  grid-area: apresentation;
}
.element_header {
  width: auto;
  margin: 0 auto;
  background-color: #2c2c2c;
  padding: 200px 20px;
  min-width: 1380px;
  font-family: Inter;
  text-align: left;
  color: white;
  
}

.element_header h1{
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px; /* 120% */
  letter-spacing: -1.5px;
  padding-bottom: 25px;
  
}
.element_header p{
  color: #FFF;
  font-feature-settings: 'liga' off;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}
.element_services {
  display: flex;
  background-color: #F9F9F9;
  color: black;
  
}
.element_services ul{
  margin: 0 auto;
  width: 1280px;
}
.element_services li{
  display: inline-block;
  padding: 50px;
  margin: 0 3.8%;
  width: auto;
    
}
.container_apresentation{
  display: flex;
  flex-direction: row;
  width: auto;
  
}
.element_apresentation {
  padding: 20px;
  align-self: center;
  width: 680px;
  
}
.element_apresentation img{
  
  margin-left: 10%;
  
}
.element_apresentation h1{
  padding-bottom: 20px;
}
.element_unique {
  width: auto;
  min-width: 1380px;
  display: flex;
  margin: 0 auto;
}



